:root{
    --primary: #2563EB;
    --shade1: #0474C9;
    --shade2: #02497E;
    --shade3: #0B1E46;
    --shade4: #012B4B;
    --Tint1: #CDE9FE;
    --Tint2: #9BD3FD;
    --Tint3: #69BDFD;
    --Tint4: #36A7FC;
    --Secondary: #EBAD25;
    --shade-1: #E36404;
    --shade-2: #B04E04;
    --shade-3: #652C02;
    --shade-4: #4C2101;
    --Tint1: #FEE2CD;
    --Tint2: #FEC59B;
    --Tint3: #FDA969;
    
    /*state colors*/
    --Tint4: #FD8C37;
    --info: #2F80ED;
    --success: #00966D;
    --warning: #E2B93B;
    --error_light: #C30000;

    /*state colors*/
    --primary: #FC6F05;
    --primary: #0592FC;
    --background: #F3F7FC;
    --white: #FFFFFF;

    /*Neutral color*/
    --black1: #0C0C0C;
    --black2: #1D1D1D;
    --black3: #282828;
    --gray1: #4F4F4F;
    --gray2: #404040;
    --gray3: #BDBDBD;
    --gray4: #DFDFDF;
    --gray5: #E0E0E0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::after,*::before {
    box-sizing: inherit;
}
body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Poppins";
    background-color: var(--white);
}

/* Nav Section */
.container{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;
}
.header{

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.naw_wrapper{
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.nav_logo{
    display: flex;
    align-items: center;
}
.nav_logo-image{

}
.nav_logo-image{

}
.menue_list{
    display: flex;
    gap: 3rem;
}
.menue_list-home{
    color: var(--primary);
}
.nav_link{
    display: flex;
    gap: 0.5rem;
}
.nav_links{

}
.off{
    background-color: var(--shade3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.off_speakup{
    text-decoration: none;
}
.off_speakup-premium{
    font-family:"poppins";
    font-size: 1.32rem;
    color: var(--Secondary);
}
.header_img{
    display: flex;
    padding: 5rem 12rem;
    background-image: linear-gradient(to right,#2563EB,#4FB3FF);
}
.Studying_Online{
    font-family: "poppins";
    font-size: 4.5rem;
    margin-top: 10rem;
}
.SpeakUp{
    font-family: "poppins";
    font-size: 2.2rem;
    
}
.lets_start{
    border-radius: 0.5rem;
    background-color: var(--Secondary);
    border-color: var(--Secondary);
    border: var(--Secondary);
    font-family: "poppins";
    padding: 1.5rem;
    margin-top: 1rem;
    color: var(--white);
}