@font-face {
    font-family: "Poppins" ;
    src: url("../fonts/Poppins-Bold.ttf") format('truetype')
}
@font-face {
    font-family: "Poppins" ;
    src: url("../fonts/Poppins-SemiBold.ttf") format('truetype')
}